In [7]:
def celsius_fahrenheit():
    # F = (C * 9/5) + 32
    fahrenheit = (22 * (9/5)) + 32
    print (fahrenheit)
    return fahrenheit

In [6]:
celsius_fahrenheit()

71.6

71.6

In [8]:
def celsius_fahrenheit(c):
    # F = (C * 9/5) + 32
    fahrenheit = (c * (9/5)) + 32
    return fahrenheit

In [9]:
celsius_fahrenheit(0)

32.0

In [15]:
def fahrenheit_celsius(f):
    celsius=(f-32)*(5/9)
    return celsius

In [13]:
fahrenheit_celsius(32)

0.0

In [16]:
fahrenheit_celsius(100)

37.77777777777778

In [17]:
import pandas

In [18]:
dem_health_data = pandas.read_csv("Dem_Health_Full.txt", sep = "\t")

In [21]:
dem_health_data.head()

,County,State,Population_Density,Poverty,Infant_Mortality,Suicide,Total_Births,Total_Deaths
0,Autauga,AL,82,10.4,5.9,16.6,3048.0,1867.0
1,Baldwin,AL,102,10.2,7.1,14.3,5471.0,4388.0
2,Barbour,AL,32,22.1,7.1,10.3,1835.0,1538.0
3,Bibb,AL,35,16.8,9.8,14.8,2801.0,2012.0
4,Blount,AL,86,11.9,9.0,14.4,3318.0,2453.0

In [81]:
def get_urban(df):
    urban = df.loc[df['Population_Density'] >= 1000, ['County','State']]
    return urban

In [35]:
urban_counties = get_urban(dem_health_data,500)
#print(urban_counties)

In [83]:
def split_county_by_pop(df, threshold):
    urban = df.loc[df['Population_Density'] >=threshold, ['County','Population_Density']]
    rural = df.loc[df['Population_Density'] < threshold, ['County','Population_Density']]
    return [urban,rural]

In [84]:
urban_rural_counties = split_county_by_pop(dem_health_data,500)

In [ ]:
#urban_rural_counties[1]